<div class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form class="main-form new-contact" method="POST" action="{{ url_for('create_customer') }}">
            <h3>Opprett ny kunde/leverandør</h3>

            <div class="new-contact-input">
                <h4>Navn</h4>
                {{ customer_modal_form.name }}
            </div>
            <div class="new-contact-input">
                <h4>Org.nr</h4>
                {{ customer_modal_form.org_nr }}
            </div>
            <div class="new-contact-input">
                <h4>Epost</h4>
                {{ customer_modal_form.email }}
            </div>
            <div class="new-contact-input">
                <h4>Telefonnummer</h4>
                {{ customer_modal_form.telephone }}
            </div>
            <div class="new-contact-input">
                <h4>Medlemsnr</h4>
                {{ customer_modal_form.member_number }}
            </div>
            <div class="new-contact-input">
                <div class="empty"></div>
                <h3>Adresse</h3>
            </div>
            <div class="new-contact-input">
                <h4>Land</h4>
                {{ customer_modal_form.country }}
            </div>
            <div class="new-contact-input">
                <h4>Adresse 1</h4>
                {{ customer_modal_form.address1 }}
            </div>
            <div class="new-contact-input">
                <h4>Adresse 2</h4>
                {{ customer_modal_form.address2 }}
            </div>
            <div class="new-contact-input">
                <h4>Postnummer</h4>
                {{ customer_modal_form.zip_code }}
            </div>
            <div class="new-contact-input">
                <h4>Poststed</h4>
                {{ customer_modal_form.postal_area }}
            </div>

            <div class="new-contact-input">
                <div class="empty"></div>
                <h3>Faktura-instillinger:</h3>
            </div>
            <div class="new-contact-input">
                <h4>Språk</h4>
                <select name="language">
                    <option value="NORWEGIAN" selected>Norsk</option>
                    <option value="ENGLISH">Engelsk</option>
                </select>
            </div>

            <div class="new-contact-input">
                <h4>Valuta</h4>
                <select name="currency">
                    <option selected>NOK</option>
                    <option>EUR</option>
                    <option>USD</option>
                    <option>GBP</option>
                    <option>SEK</option>
                    <option>DKK</option>
                    <option>CHF</option>
                </select>
            </div>


            <div class="new-contact-input">
                <div class="empty"></div>
                <input class="modal-submit" type="submit" Value="Opprett bruker">
            </div>
        </form>
    </div>
</div>
