{% extends 'layout_pre.html' %}
{% block container %}
    <img class="pre-img" src="{{ url_for('static', filename="fikto.png") }}">
    <h2>Glemt Passord</h2>
    <form class="pre-form" method="POST" action="{{ url_for('forgot_password') }}">
        <div class="form-part">
            {{ form.csrf_token }}
            <h4>Skriv inn din mail, så sender vi deg nytt!</h4>
            {{ form.email }}
            <input class="form-button" type="submit" Value="Submit">
            {% include 'flash.html' %}
        </div>
    </form>
{% endblock container %}