{% extends 'layout_post_warning.html' %}
{% block container %}
<h2>Historikk</h2>
<!--Salg, kjøp and Alle are check buttons-->
{% if entry_view|length > 0 %}

{# Keeps control over which radio-button should be checked when the user enters / is redirected to the site. #}
<form name="filter_ledger" class="filter_buttons" method="post" action="">
    {%  if not checked %}
    <input onclick="this.form.submit();" type="radio" name="type" value="all" checked="checked"> Alle
    <input onclick="this.form.submit();" type="radio" name="type" value="purchases"> Kjøp
    <input onclick="this.form.submit();" type="radio" name="type" value="sales"> Salg

    {%  elif checked == "purchases" %}
    <input onclick="this.form.submit();" type="radio" name="type" value="all"> Alle
    <input onclick="this.form.submit();" type="radio" name="type" value="purchases" checked="checked"> Kjøp
    <input onclick="this.form.submit();" type="radio" name="type" value="sales"> Salg

    {% elif checked == "sales" %}
    <input onclick="this.form.submit();" type="radio" name="type" value="all"> Alle
    <input onclick="this.form.submit();" type="radio" name="type" value="purchases"> Kjøp
    <input onclick="this.form.submit();" type="radio" name="type" value="sales" checked="checked"> Salg
    {% endif %}

</form>

{% for entry, external in entry_view %}
    <button class="collapsible">
        <span class="collapsible_text">{{ entry["description"] }}</span>
        <span class="collapsible_text">{{ entry["date"] }}</span>
        <span class="collapsible_text">{{ entry["type"] }} - {{ entry["identifier"] }} </span>

    </button>
    <div class="content">

        <div class="entry_info">

            <div class="entry_stats">
            <p>Fakturanr: {{ entry["identifier"] }}</p>
            {% if external["supplier"] %}
                <p>Leverandør: {{ external["supplier"]["name"] }}</p>
            {% elif external["customer"] %}
                <p>Kunde: {{ external["customer"]["name"] }}</p>
            {% endif %}
            <p>Betalt: {{ entry["paid"] }}</p>
            </div>

            <div class="entry_description">
                <p>Description: {{ entry["description"] }}</p>
            </div>

            <div class="entry_calc">
                {%  if entry["downloadUrl"] %}
                    <img src="{{ entry["downloadUrl"] }}" alt="entry_image" type="application/pdf">
                {%  endif %}
            </div>

            <hr>
        </div>
    </div>
{% endfor %}
{% else %}
    {% if not current_user.fiken_manager.has_valid_login() %}
        <p class="no_history">Du må <a href="{{ url_for('profile') }}">logge inn</a> i fiken før du kan bruke denne siden.</p>
    {% elif not current_user.fiken_manager.get_company_slug() %}
        <p class="no_history">Du må <a href="{{ url_for('profile') }}">velge</a> et aktivt selskap fra fiken før du bruker denne siden.</p>
    {% else %}
        <p class="no_history">Ingen historikk. Legg til <a href="{{ url_for('purchase') }}">kjøp</a>
        og <a href="{{ url_for('sale') }}">salg</a> først.</p>
    {% endif %}
{%  endif %}
<div class="marginbox"></div>


<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>




{% endblock container %}