{% extends 'layout_post.html' %}
{% block container %}
<h2>Nytt Kjøp</h2>
{% if image %}
<div class="imagebox">
    <img src="static/uploads/{{ image }}" alt="Uploaded Image">
</div>
{% endif %}
<div class="boxdisplay">
    <form method="POST" action="/upload_file" enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
</div>
<div class="form_section">
    <form method="POST" action="{{ url_for('send_purchase_form') }}">
        <div class="boxdisplay">
            {{ form.csrf_token }}
            <div class="left">
                <div id ="kjoopBlock">
                        <h3>Type kjøp</h3>
                        {{ form.type_kjoop }}
                    </div>
                    <div id = "leverandorBlock">
                        <h3>Leverandør</h3>
                        {{ form.leverandor}}
                        <input class ="modal_button" type="button" Value="Opprett ny">
                    </div>
                    <div id = "fakturadatoBlock">
                        <h3>Fakturadato</h3>
                        {{ form.fakturadato }}
                </div>
            </div>
            <div class="right">
                <p class="italic">Valgfrie felter:</p>
                <div id = "fakturanummerBlock">
                    <h3>Fakturanummer</h3>
                    {{ form.fakturanummer }}
                </div>
                <div id = "forfallsdatoBlock">
                        <h3>Forfallsdato</h3>
                        {{ form.forfallsdato }}
                </div>
            </div>        
        </div>
        
    <!-- Bilde her -->
        <div class="boxdisplay">    
            <div id ="tekstBlock">
                <h3>Tekst</h3>
                {{ form.tekst }}
            </div>
            <div id = "kostnadskontoBlock">
                <h3>Kostnadskonto</h3>
                {{ form.kostnadskonto }}
            </div>
            <div id ="bruttobeloopBlock">
                <h3>Bruttobeløp</h3>
                {{ form.bruttobelop }}
            </div>
            <div id ="mvaBlock">
                <h3>Mva</h3>
                {{ form.mva }}
            </div>
            <div id ="nettobeloopBlock">
                <h3>Nettobeløp</h3>
                {{ form.nettobelop}}
            </div>
        </div>

        <div class="boxdisplay">
            <h3>Betalt</h3>
            {{ form.betalt }}
            <h4>Kryss av dersom handelen er betalt</h4>
        </div>
        <input type="submit" Value="Send inn">
    </form>
    <!-- Code for modal content for creating customer functionality-->
    <div class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <form method="POST" action="{{ url_for('change_fiken') }}">
                    <h2>Opprett ny kunde/leverandør</h2>
                    <h3>Navn</h3>
                    {{ customer_modal_form.navn }}
                    <h3>Org.nr</h3>
                    {{ customer_modal_form.org_nr }}
                    <h3>Epost</h3>
                    {{ customer_modal_form.email }}
                    <h3>Telefonnummer</h3>
                    {{ customer_modal_form.telefonnummer }}
                    <h3>Kontonummer</h3>
                    {{ customer_modal_form.kontonummer }}
                    <h3>Kunde/leverandør</h3>
                    <h3>Medlemsnr</h3>
                    {{ customer_modal_form.medlemsnummer }}
                    <h2>Adresse</h2>
                    <h3>Land</h3>
                    {{ customer_modal_form.land }}
                    <h3>Adresse 1</h3>
                    {{ customer_modal_form.adresse1 }}
                    <h3>Adresse 2</h3>
                    {{ customer_modal_form.adresse2 }}
                    <h3>Postnummer</h3>
                    {{ customer_modal_form.postnummer }}
                    <h3>Poststed</h3>
                    {{ customer_modal_form.poststed }}
                    <input class="boxedButton" type="submit" Value="Endre">
                </form>
            </div>
        </div>
        <!--End of modal content-->
</div>
{% endblock container %}