{% extends 'layout_post.html' %}
{% block container %}
<h2>Nytt Kjøp</h2>
<div class="totalbeloop">
    <form method="POST" action="/upload_file" enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
</div>
<div class="form_section">
    <form method="POST" action="{{ url_for('kjoop') }}">
        <div class="totalbeloop">
            {{ form.csrf_token }}
            <div class="left">
                <div id ="kjoopBlock">
                        <h3>Type kjøp</h3>
                        {{ form.type_kjoop }}
                    </div>
                    <div id = "leverandorBlock">
                        <h3>Leverandør</h3>
                        {{ form.leverandor}}
                    </div>
                    <div id = "fakturadatoBlock">
                        <h3>Fakturadato</h3>
                        {{ form.fakturadato }}
                </div>
            </div>
            <div class="right">
                <p class="italic">Valgfrie felter:</p>
                <div id = "fakturanummerBlock">
                    <h3>Fakturanummer</h3>
                    {{ form.fakturanummer }}
                </div>
                <div id = "forfallsdatoBlock">
                        <h3>Forfallsdato</h3>
                        {{ form.forfallsdato }}
                </div>
            </div>
            
            
        </div>
        
    <!-- Bilde her -->
        <div class="totalbeloop">    
            <div id ="tekst">
                <h3>Tekst</h3>
                {{ form.tekst }}
            </div>
            <div id = "kostnadskontoBlock">
                <h3>Kostnadskonto</h3>
                {{ form.kostnadskonto }}
            </div>
            <div id ="bruttobeloop">
                <h3>Bruttobeløp</h3>
                {{ form.bruttobelop }}
            </div>
            <div id ="mvaBlock">
                <h3>Mva</h3>
                {{ form.mva }}
            </div>
            <div id ="nettobeloop">
                <h3>Nettobeløp</h3>
                {{ form.nettobelop}}
            </div>
        </div>
        <h3>Betalt</h3>
        {{ form.betalt }}
        <input type="submit" Value="Send inn">
    </form>
</div>
{% endblock container %}