<!-- Lage hovedstruktur for siden (Nav-bar, etc.) -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>OCR</title>
        {% if title %}            
            <title> {{ title }}</title>
        {% else %}
            <title> OCR </title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="../css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
    </head>
    <body>
        <div class="navbar">
            <a href="/kjøp">Kjøp</a>
            <a href="/salg">Salg</a>
            <a href="/historikk">Historikk</a>
            <a href="/profil">Profil</a>
        </div>
        <div class = container>
            {% block container %} 
            {% endblock %}
        </div>
    </body>
</html>