<!-- Template for log in and forgot password -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        {% if title %}            
            <title> {{ title }}</title>
        {% else %}
            <title> OCR </title>
        {% endif %}
        <link rel="stylesheet" type="text/css" href="../css/normalize.css">
        <link rel="stylesheet" type="text/css" href="../css/main.css">
    </head>
    <body>
        <div class = container>
            {% block container %} 
            {% endblock %}
        </div>
    </body>
</html>