<!-- Template for log in and forgot password -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        {% if title %}            
            <title> {{ title }}</title>
        {% else %}
            <title> OCR </title>
        {% endif %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
        <div class = "container pre-container">
                {% block container %}
                {% endblock %}
        </div>
    </body>
</html>