{% extends 'layout_post.html' %}
{% block container %}
<h2>Min Konto</h2>

<!--Info about the users name and email that we have-->
<!--Structure: "Name:"    <actual name>  <Change button> -->
<h3>Navn</h3>
    <p>navn navnesen</p>
        <input type="submit" Value="Endre">
<h3>Email</h3>
    <p>navn@navnesen.com</p>
    <input type="submit" Value="Endre">
<h3>Fikenbruker</h3>
<input type="submit" Value="Endre">

<!--Just a line to make sure the user understands the semantic change-->
<div class="newline"></div>
<!--Change password here-->
<h3>Nytt passord</h3>
<h3>Gjenta passord</h3>
<input type="submit" Value="Endre">

<div class="newline"></div>
<!--Buttons to download userdata and deleting account-->
<input type="submit" Value="Last ned brukerdata">
<input type="submit" id="warning" Value="Slett konto">
{% endblock container %}