{% extends 'layout_post.html' %}
{% block container %}
{{ form.csrf_token }}
<h2>Min Konto</h2>
<!--Info about the users name and email that we have-->
<!--Structure: "Name:"    <actual name>  <Change button> -->
<div class="boxdisplay">
    <form method="POST" action="{{ url_for('change_name') }}">
        <h3>Navn</h3>
        <p>{{ name }}</p>
        {{ form.new_name }}
        <input class="boxedButton" type="submit" Value="Endre">
    </form>
</div>

<div class="boxdisplay">
    <form method="POST" action="{{ url_for('change_email') }}">
        <h3>Email</h3>
        <p>{{ email }}</p>
        {{ form.new_email }}
        <input class="boxedButton" type="submit" Value="Endre">
    </form>
</div>

<div class="boxdisplay">
    <h3>Fikenbruker</h3>
    <input class="stacked_button modal_button" id="boxedButtonPointer" type="submit" Value="Endre bruker">
    {% if current_user.fiken_manager.get_fiken_login() %}
    <span class="active_info">{{ current_user.fiken_manager.get_fiken_login() }}</span>
    {% endif %}
    <br>
    <input class="stacked_button modal_button" type="submit" Value="Endre firma">
    {%  if current_user.fiken_manager.get_active_company_name() %}
    <span class="active_info">{{ current_user.fiken_manager.get_active_company_name() }}</span>
    {% endif %}
</div>
<!-- Code for modal content for the change Fiken user functionality-->
<div class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form method="POST" action="{{ url_for('change_fiken') }}">
            <h2>Endre Fiken-bruker</h2>
            <h3>Email</h3>
            {{ fiken_modal_form.email }}
            <h3>Passord</h3>
            {{ fiken_modal_form.password }}
            <input class="boxedButton" type="submit" Value="Endre">
        </form>
    </div>
</div>
<!--End of modal content-->

<!-- Code for modal to change associated fiken company -->
    <div class="modal">
        <div class="modal-content">
            <span class="close">x</span>
            <form action="{{ url_for('set_active_company') }}" method="post">
                <h2> Endre firma </h2>
                    <table class="company_table">
                        {% for company_info, company_key in companies %}
                            <tr>
                                <td>
                                <label>
                                    {% if company_info[0] == current_user.fiken_manager.get_active_company_name() %}
                                    <input type="radio" checked="checked" name="company_keys" value={{ company_key }}>
                                    {%  else %}
                                    <input type="radio" name="company_keys" value="{{ company_key }}">
                                    {% endif %}
                                </label>
                                </td>
                                <td>
                                    {{ company_info[0] }} <span class="org_num">({{ company_info[1] }})</span>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                <input class="boxedButton" type="submit" Value="Velg">
            </form>
        </div>
    </div>

<!--Just a line to make sure the user understands the semantic change-->
<div class="newline"></div>
<!--Change password here-->
<div class=boxdisplay>
    <form method="POST" action="{{ url_for('change_password') }}">
        <h3>Nytt passord</h3>
        {{ form.new_password }}
        <h3>Gjenta passord</h3>
        {{ form.repeat_password }}
        <input class="boxedButton" type="submit" Value="Endre">
    </form>
</div>


<div class="newline"></div>
<!--Buttons to download userdata and deleting account-->
<form method="POST" action="{{ url_for('get_user_data') }}">
    <input type="submit" Value="Last ned brukerdata" class="buttons" id="dlUserData">
</form>
    <input class ="modal_button" type="submit" id="warning" Value="Slett konto">
<div class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="POST" action="{{ url_for('delete_account') }}">
                <h2>Slett konto</h2>
                <p>All brukerdata vil bli slettet</p>
                <input class="boxedButton" id="warning" type="submit" Value="Slett konto">
            </form>
        </div>
    </div>
{% endblock container %}