{% extends 'layout_post.html' %}
{% block container %}
<h2>Nytt Kjøp</h2>
{% if image %}
<div class="imagebox" id="imagebox-id">
    <img src="static/uploads/{{ image }}" class="img_class" id="img_id" alt="Uploaded Image">
</div>
{% endif %}
<div class="box-display" id="purchase1">
    <form method="POST" action="/upload_file" enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
</div>
<div class="form_section">
    <form method="POST" action="{{ url_for('send_purchase_form') }}">
        <div class="box-display" id="purchase2">
            {{ form.csrf_token }}
            <div class="left">
                <div class="form-input" id="purchase-block">
                        <h3>Type kjøp</h3>
                        {{ form.purchase_type }}
                    </div>
                    <div class="form-input" id="supplier-block">
                        <h3>Leverandør</h3>
                        {{ form.supplier }}
                        <input class="modal_button" type="button" Value="Opprett ny">
                    </div>
                    <div class="form-input" id="invoice_date-block">
                        <h3>Fakturadato</h3>
                        {{ form.invoice_date }}
                </div>
            </div>
            <div class="right">
                <p class="italic">Valgfrie felter:</p>
                <div class="form-input" id="invoice_number-block">
                    <h3>Fakturanummer</h3>
                    {{ form.invoice_number }}
                </div>
                <div class="form-input" id="maturity_date-block">
                        <h3>Forfallsdato</h3>
                        {{ form.maturity_date }}
                </div>
            </div>        
        </div>
        
    <!-- Bilde her -->
        <div class="box-display" id="purchase3">
            <div class="form-input" id="text-block">
                <h3>Tekst</h3>
                {{ form.text }}
            </div>
            <div class="form-input" id="billing_account-block">
                <h3>Kostnadskonto</h3>
                {{ form.billing_account }}
            </div>
            <div class="form-input" id="gross_amount-block">
                <h3>Bruttobeløp</h3>
                {{ form.gross_amount }}
            </div>
            <div class="form-input" id="vat-block">
                <h3>Mva</h3>
                {{ form.vat }}
            </div>
            <div class="form-input" id="net_amount-block">
                <h3>Nettobeløp</h3>
                {{ form.net_amount}}
            </div>
        </div>

        <div class="box-display" id="prePaid">
            <h3>Betalt</h3>
            {{ form.paid }}
            <h4>Kryss av dersom handelen er betalt</h4>
        </div>
        <input type="submit" Value="Send inn" class="buttons" id="sendFormButton">
    </form>
    <!-- Code for modal content for creating customer functionality-->
    <div class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="POST" action="{{ url_for('create_contact') }}">
                <h2>Opprett ny kunde/leverandør</h2>
                <h4>Navn</h4>
                {{ customer_modal_form.name }}
                <h4>Org.nr</h4>
                {{ customer_modal_form.org_nr }}
                <h4>Epost</h4>
                {{ customer_modal_form.email }}
                <h4>Telefonnummer</h4>
                {{ customer_modal_form.telephone }}
                <h4>Kontonummer</h4>
                {{ customer_modal_form.account_number }}
                <h4>Kunde/leverandør</h4>
                <h4>Medlemsnr</h4>
                {{ customer_modal_form.member_number }}
                <h3>Adresse</h3>
                <h4>Land</h4>
                {{ customer_modal_form.country }}
                <h4>Adresse 1</h4>
                {{ customer_modal_form.address1 }}
                <h4>Adresse 2</h4>
                {{ customer_modal_form.address2 }}
                <h4>Postnummer</h4>
                {{ customer_modal_form.zip_code }}
                <h4>Poststed</h4>
                {{ customer_modal_form.postal_area }}
                <input class="boxedButton" type="submit" Value="Opprett bruker">
            </form>
        </div>
    </div>
    <!--End of modal content-->
</div>
{% endblock container %}