<form class="main-form" id="sale-form" method="post" action="{{ url_for('send_sale_form') }}">
    <div class="sf-upper">
        <div class="form-part">
            <div class="sf-group">
                <div class="sf-form-input" id="sale_type-block">
                    <h4>Type</h4>
                    {{ form.sale_type }}
                </div>
                <div class="sf-form-input" id="date-block">
                    <h4>Dato</h4>
                    {{ form.date }}
                </div>
                <div class="sf-form-input" id="days_to_maturity-block">
                    <h4>Dager til forfall</h4>
                    <input id="days_to_maturity" name="days_to_maturity" type="number" onchange="update_maturity_date()">
                    <div class="empty"></div>
                    <p id="maturity-text">Forfallsdato: 1.1.2011</p>
                </div>
                <div class="sf-form-input" id="comment-block">
                    <h4 id="comment">Kommentar</h4>
                    {{ form.comment(rows='3') }}
                </div>
                <div class="sf-form-input" id="account_number-block">
                    <h4>Kontonummer</h4>
                    {{ form.account_number }}
                    <div class="empty"></div>
                    <input class="modal_button sf-button" id="new-account-button" type="button" value="Opprett ny">
                </div>
            </div>
        </div>
        <div class="sf-reference-block">
            <div class="form-part" id="sf-reference">
                <div class="sf-form-input" id="contact-block">
                    <h4>Kontakt</h4>
                    {{ form.contact }}
                    <div class="empty"></div>
                    <input class="modal_button" id="supplier-button" type="button" value="Opprett ny">
                </div>
                <div class="sf-form-input" id="our_reference-block">
                    <h4>Vår referanse</h4>
                    {{ form.our_reference }}
                </div>
                <div class="sf-form-input" id="their_reference-block">
                    <h4>Deres referanse</h4>
                    {{ form.their_reference }}
                </div>
            </div>
            <div class="empty" id="reference-fill"></div>
        </div>

    </div>
    <div class="sf-lower">
        <div class="form-part">
            <div id="sf-lines-top-big">
                <h4>Beskrivelse</h4>
                <h4>Pris</h4>
                <h4>Rabatt</h4>
                <h4>Antall</h4>
                <h4>Mva</h4>
            </div>
            <div id="sf-lines-top-small">
                <p id="line-text">Varelinjer</p>
            </div>
            <div id="sf-lines">
            </div>
            <div class="sf-lines-bottom">
                <h4 class="total-amount" id="sf-total">0.00 (0.00 inkl. mva)</h4>
                <input class="sf-button" type="button" Value="Ny produkt-linje" onclick="add_product_line()">
                <input class="sf-button" type="button" Value="Ny fritekst-linje" onclick="add_freetext_line()">
            </div>
        </div>
        <div class="form-part">
        <div class="pf-buttons">
            <input class="button-red" type="button" value="Slett utkast" onclick="clear_sale_form()">
            <input class="button-green" type="submit" value="Opprett faktura">
        </div>
    </div>
    </div>
</form>
<script src="{{ url_for('static',filename='js/widget.js') }}"></script>