.flash {
    padding: 0;
    display: block;
}
.message, .success {
    margin: 20px 2px 0 0;
    display: block;
    list-style: None;
    padding: 6px 14px;
    border-radius: 4px;
    width: 80%;
}

.message {
    background-color: rgba(244, 119, 119, 0.5);
    border: 1px red solid;
}

.success {
    background-color: rgba(144, 255, 0, 0.5);
    border: 1px green solid;
}



@media screen and (min-width: 480px) {
  .message {
  }
  @media screen and (min-width: 769px) {
    .message {
    }
    @media screen and (min-width: 1280px) {
      .message {
      }
    }
  }

}