.flash {
    padding: 0;
    display: block;
}
.message {
    margin: 20px 2px 0 0;
    display: block;
    list-style: None;
    padding: 6px 14px;
    border: 1px red solid;
    border-radius: 4px;
    background-color: rgba(244, 119, 119, 0.5);
    width: 80%;
}

@media screen and (min-width: 480px) {
  .message {
  }
  @media screen and (min-width: 769px) {
    .message {
    }
    @media screen and (min-width: 1280px) {
      .message {
      }
    }
  }

}