.flash {
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    width: 100%;

}
.message, .success {
    margin: 0;
    list-style: None;
    padding: 6px 14px;
    border-radius: 4px;
}

.message {
    background-color: rgba(244, 119, 119, 0.5);
    border: 1px red solid;
}

.success {
    background-color: rgba(144, 255, 0, 0.5);
    border: 1px green solid;
}


@media screen and (min-width: 480px) {
  .message {
  }
  @media screen and (min-width: 769px) {
    .message {
    }
    @media screen and (min-width: 1280px) {
      .message {
      }
    }
  }

}