
html {
    height: 100%;
    background: #e2e2e2;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: 'Overpass', sans-serif;
    word-wrap: break-word;
    height: 100%;
}

/* This continer currently holds all content,
except for navbar and footer */
.container {
    min-height: 94%;
    margin: 0 auto;
    padding: 20px 50px; 
    width: 80%;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* h2 is used for big headings */
h2 {
    font-size: 2.5 em;
    font-family: 'Overpass', system-ui;
    color: rebeccapurple;
}

/* h3 is used for field; headings */
h3 {
    font-size: 1.5 em;
    font-family: 'Overpass', system-ui;
    margin:0;
}


/*  OLD SOLUTION!!!
    IDs for each text input field */
/*
#type_kjoop, #fakturadato, #forfallsdato,
#fakturanummer, #tekst, #bruttobelop,
#mva, #nettobelop, #dato, #kommentar,
#din_referanse, #kontonummer, #deres_referanse,
#beskrivelse, #pris, #antall, #rabatt {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
*/

/*  OLD SOLUTION!!!
    upon clicking the text input fields we add shadows the
    current highlighted field */
/*
#type_kjoop:focus, #fakturadato:focus, #forfallsdato:focus,
#fakturanummer:focus, #tekst:focus, #bruttobelop:focus,
#mva:focus, #nettobelop:focus, #dato:focus,
#kommentar:focus, #din_referanse:focus, #kontonummer:focus,
#deres_referanse:focus, #beskrivelse:focus, #pris:focus
#antall:focus, #rabatt:focus {
    border-color: #66afe9;
    box-shadow: 2px #2d4e68;
}
*/

select {
    display: block;
    max-width: 350px;
    //height: 34px;
    padding: 6px 14px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

select:focus {
    border-color: #66afe9;
    box-shadow: 2px #2d4e68;
}

/* Styling for text fields */
input[type="text"] {
    display: block;
    //height: 28px;
    padding: 6px 14px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Styling for highlighted text field */
input[type="text"]:focus {
    border-color: #66afe9;
    box-shadow: 2px #2d4e68;
}

/* Styling for general purpose buttons */
input[type="submit"] {
    color: rebeccapurple;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 4px;
    overflow: visible;
    text-transform: none;
}

/* styling for active/highlighted buttons */
input[type="submit"]:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }

/* Email input fields have type = "text", but id = "email" */
#email {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    max-width: 400px;
    min-width: 200px;
    min-height: 33px;
    width: 100%;
}

/* Highlighted email input field */
#email:focus {
}

#password {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    min-height: 33px;
    margin-bottom: 3em;

    /* temp fix for widescreen */
    margin-right: 900px;
}

  /* Special styling for the delete user data button */
#warning {
    background-color: red;
}


#warning:focus {
    background-color: blue;
    border: 3px solid yellow;
}

/*  This will be added and styled LATER
    upload image button and more
    CSS copied from Fiken */
input.bigBlue {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74; 
}

/* used to confirm payments/sales
    CSS copied from Fiken */
input.success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;

}

#warning {
    color: #ffffff;
}

/* HARD copy pasta from fiken
    DELETE LATER */
.btn-input {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-input:focus,
  .btn-input.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  
  .btn-input:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  
  .btn-input:active,
  .btn-input.active,
  .open > .dropdown-toggle.btn-input {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }

/* FIKEN COPY PASTA ENDES HERE */

nav {
    padding-top: 4px;
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

nav ul {
    margin: auto;
    padding: 0;
    list-style-type: none;
    height: 100%;
    width: 85%;
}

nav li {
    margin: 0px;
    display: inline;
    float: left;
}

nav a {
    display: block;
    padding: 15px 0px;
    width: 90px;
    color: black;
    text-decoration: none;
}

nav a:hover:not(.active) {
    background-color: rgba(209, 211, 214, 0.164);
}

.active {
    border-bottom: 2px solid rebeccapurple;
}

/* Klaus footer */
footer {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 7em;
    padding-top: 15px;
    text-align: center;
    background: white;
    bottom: 0;
    border-top: 2px solid #c7d4e8;
}

.boxdisplay {
    display: inline-block;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    background: #f5f5f5;
    border: 2px solid transparent;
    border-radius: 5px;
    align-content: center;
}

/* Just a div placed on certain pages
    to make the footer placed correctly */
.marginbox {
    display: block;
    color: white;
    background-color: white;
    width: 100%;
    height: 400px;
}

#tekst, #kostnadskontoBlock, #bruttobeloop, #mvaBlock, #nettobeloop {
    height: 100%;
    display: inline-block;
    position: relative;
    width: auto;
}

/* NEW!

    IMPORTANT: All styling above, ie. does not in the @media queries
    are intended for mobile view!

    Responsive design for 3 different resolutions:
    phone, non-widescreen and widescreen
    phone: width < 480px
    non-widescreen: 480px < width > 768px
    widescreen: width > 768px */

    /* Styling for non-widescren (not phones)
    480px < width > 768px */
@media screen and (min-width: 480px) {

    body{
        background-color:#6aa6cc;
        color:blue;    
    }


    /* Styling for widescreens, ie. width > 768px */
    @media screen and (min-width: 768px) {

        body {
            background-color:#000;
            color:red;    
        }

        .boxdisplay {
            width: 55%;
        }
    }
}
#kostnadskontoBlock, #mvaBlock {
    transform:translateY(2px)
}

#kjoopBlock, #leverandorBlock, #fakturadatoBlock, #forfallsdatoBlock, #fakturanummerBlock h3{
    position: relative;
} 


.left, .right {
    float: left;
    padding-right: 50px;
    overflow: auto;
}

/* ------ HISTORY PAGE ----- */
.filter_buttons {
    margin-bottom: 2%;
}

.filter_buttons input {
    margin-left: 1%;
}

.filter_buttons input:first-child {
    margin-left: 0;
}

.collapsible {
    display: block;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    overflow: hidden;
}

.collapsible:after {
    content: "";
    clear: both;
}

.collapsible_text {
    float: left;
    width: 33%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.collapsible_text:first-child {
    text-align: start;
}

.active, .collapsible:hover {
    background-color: #777;
}

.content {
    display: none;
    background-color: #f1f1f1;
    padding: 3%;
    overflow: auto;
}

.content img {
    max-width: 300px;
    width: 30%;
    float:right;
}

.entry_info {
    width: 70%;
    box-sizing: border-box;
    padding: 0 1% 1%;
    overflow: hidden;
}

.entry_info p {
    display: block;
    margin-top: 0;
    font-size: 1.2vw;
    vertical-align: top;
}

.entry_info p:last-child {
    margin-bottom: 0;
}

.entry_stats {
    width: 30%;
    display: inline-block;
    float: left;

}

.entry_description {
    width: 60%;
    display: inline-block;
    top: 0;
    float: left;
    padding-left: 10%;
    box-sizing: border-box;
}


/*
#kostnadskonto, #mva {
    height: 100%;
}*/





/* Jan footer, trenger muligens en fix for hisorikk
    sikkert ikke nødvendig, men mulig mer responsivt */
/*
footer {
    display: flex;
    padding: 60 px 15px;
    flex-direction: column;
    justify-content: space-between;
    align-content: flex-end;
    text-align: center;
    min-height: 175px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    margin-bottom: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    background-color: #ededed;
    position: relative;
}
*/

/* OLD:
    Minimal responsive design, differenntiates between wide screen
    and non-widescreen screens
 @media screen and (max-width: 767px) {
    body {
        display: block;
    }
    .container {
        padding-top: 50px;
        width: 100%;
    }


    nav {
        position: fixed;
        margin: 0;
        padding: auto;
        padding-left: 0;
        text-align: center;
        
    }

    nav ul {
        padding: 0;
    }

    nav li {
        float: none;
        display: inline-block;
    }

    nav a {
        width: relative;
    }
}

#type_kjoop {
    display: inline-block;
    padding: 15px 5px;
    background: #ffffff;
    border: 2px solid transparent;
    border-radius: 10px;

}

#type_kjoop li {
    display: inline-block;
    list-style: none;
    padding-right:10px;
}