/* Styling for mobile devices, ie. device with width less than 767px */
@media screen and (max-width: 767px) {
    .container {
        margin: 0;
    }
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    margin-top: 50px;
    font-family: 'Overpass', sans-serif;
    padding-bottom: 150px;
}

.container {
    margin: 0 20%;
}

/* h2 is used for big headings */
h2 {
    font-size: 2.5 em;
    font-family: 'Overpass', sans-serif;
    color: red;
}

/* h3 is used for field headings */
h3 {
    font-size: 1.5 em;
    font-family: 'Overpass', system-ui;
    margin: 2px;
}

/* Input is used for buttons */
input, select {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400px;
    line-height: 1.42857143px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 4px;
    overflow: visible;
    text-transform: none;
}

/* TODO:
- Make buttons, diff between input fields and buttons
*/

/* It works, but need to put on buttons and not fields. */
input:focus, select.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }

/* upload image button and more
    CSS copied from Fiken */
input.bigBlue {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74; 
}

/* used to confirm payments/sales
    CSS copied from Fiken */
input.success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;

}

#warning {
    color: #ffffff;
}

/* HARD copy pasta from fiken
    DELETE LATER */
.btn-input {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-input:focus,
  .btn-input.focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
  }
  
  .btn-input:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }
  
  .btn-input:active,
  .btn-input.active,
  .open > .dropdown-toggle.btn-input {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
  }

/* FIKEN COPY PASTA ENDES HERE */

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2369db;
}
  
li {
    float: left;
    font-size: 0.8em;
}

li a {
    
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #1f4684;
}

.active {
    background-color: #05398e;
}

footer {
    padding-top: 30px;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background-color: #ededed;
    height: 100px;
}
