html {
    height: 100%;
    background: #e2e2e2;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: 'Overpass', sans-serif;
    height: 100%;
}

/* This continer currently holds all content,
    except for navbar and footer */
.wrapper {
    min-height: 94%;
    margin: 0;
    padding: 20px 0px; 
    width: 100%;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    display: flow-root;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

/* h2 is used for big headings */
h2 {
    font-size: 2.5 em;
    font-family: 'Overpass', system-ui;
    color: rebeccapurple;
    width: 40%;
    margin: 10px auto;
}

/* h3 is used for field; headings */
h3 {
    font-size: 1.5 em;
    font-family: 'Overpass', system-ui;
    margin: 15px 0 0 0;
}

/* some h2 are elements are used as title for a
    minor block/boxdisplay. */
.title {
    font-size: 1.5em;
    width: 40%;
    margin: 10px auto;
}

/* h4 is used for side info */
h4 {
    font-size: 0,9 em;
    font-family: 'Overpass', sans-serif;
    font-weight: 400;
    margin: 5px auto;
}

li {
    margin: 5px 0;
}

label {
    margin: 5px 0 0 0;
}

/* Styling for text fields */
select, input[type="text"], input[type="password"] {
    overflow: visible;
    display: block;
    min-height: 20px; 
    padding: 6px 14px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 80%;
}

/* Styling for highlighted text field */
select:focus, input[type="text"]:focus {
    border-color: #66afe9;
    box-shadow: 2px #2d4e68;
}

/* Styling for general purpose buttons */
input[type="submit"], input[type="button"] {
    color: rebeccapurple;
    background-color: #fff;
    border-color: #ccc;
    padding: 6px 12px;
    display: block;
    float: right;
    margin: 0 10px 0 0;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    border: 1px solid;
    border-radius: 4px;
    overflow: visible;
    text-transform: none;
}

/* Buttons that are inside a boxdisplay */
input[type="submit"].boxedButton, #boxedButtonPointer{
    float: left;
    margin: 5px 0 0 0;
}

/* styling for active/highlighted buttons */
input[type="submit"]:focus, input[type="button"]:focus {
    color: #333;
    background-color: #e6e6e6;
    border-color: #8c8c8c;
}

/* Styling for both checkboxes and radio */
/*
input[type="checkbox"], input[type="radio"] {
    position: relative;
    display: block;
    float: left;
    margin: 5px 0 0 0;
}*/

/* just for checkboxes */
input[type="checkbox"] {
    position: relative;
    display: block;
    float: left;
    margin: 5px 5px 5px 0;
}

/* just for radio buttons */
input[type="radio"] {
    position: relative;
    display: block;
    float: left;
    margin: 5px 0 0 0;
}

input[type="file"] {
    margin: 0;
    padding: 0;
    max-width: 207px;
}

/* Email input fields have type = "text", but id = "email" */
#email, #password {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    max-width: 400px;
    min-width: 200px;
    min-height: 33px;
    width: 90%;
}

/* Highlighted email input field */
#email:focus {
}

/* Styling for delete user data button */
#warning {
    background-color: red;
}

#warning:focus {
    background-color: blue;
    border: 3px solid yellow;
}

/*  This will be added and styled LATER
    upload image button and more
    CSS copied from Fiken */
input.bigBlue {
    color: #ffffff;
    background-color: #286090;
    border-color: #204d74; 
}

/* used to confirm payments/sales
    CSS copied from Fiken */
input.success {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;

}

#warning {
    color: #ffffff;
}

nav {
    padding-top: 4px;
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    z-index: 1;
    padding: 0;
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    width: 100%;
}

nav li {
    margin: 0;
    padding: 0;
    display: inline;
    float: left;
}

nav a {
    display: block;
    padding: 15px 0px;
    margin: 0;
    width: 80px;
    color: black;
    text-decoration: none;
}

#type_kjoop {
    list-style-type: none;
    padding-left: 5px;
}

nav a:hover:not(.active) {
    background-color: rgba(209, 211, 214, 0.164);
}

.active {
    border-bottom: 2px solid rebeccapurple;
}

/* Klaus footer */
footer {
    position: relative;
    width: 80%;
    margin: 0 auto;
    margin-top: 7em;
    padding-top: 15px;
    text-align: center;
    background: white;
    bottom: 0;
    border-top: 2px solid #c7d4e8;
}

/* A beige/gray box that surrounds a group of
    elements that are semanticly connected */
.boxdisplay {
    display: inline-block;
    padding: 10px;
    margin: 15px 1px;
    min-width: 290px;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    width: 90%
}

/* Just a div placed on certain pages
    to make the footer placed correctly */
.marginbox {
    display: block;
    color: white;
    background-color: white;
    width: 100%;
    height: 400px;
}

/* The title and field of a div
    TODO: not all fields are mentioned yet */
#tekstBlock, #kostnadskontoBlock, #bruttobeloopBlock, #mvaBlock, #nettobeloopBlock {
    padding: 0;
    margin: 0 20px 0 0;
    display: inline-block;
    position: relative;
}

#kjoopBlock, #leverandorBlock, #fakturadatoBlock, #forfallsdatoBlock, #fakturanummerBlock h3{
    position: relative;
} 


.left, .right {
    float: left;
    padding-right: 50px;
    overflow: auto;
}

.imagebox {
    
    height: 100%;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 590px;
    width:100%;
    height:auto;
}


/* NEW!

    IMPORTANT: All styling above, ie. does not in the @media queries
    are intended for mobile view!

    Responsive design for 3 different resolutions:
    phone, non-widescreen and widescreen
    phone: width < 480px
    non-widescreen: 480px < width > 768px
    widescreen: width > 768px */

    /* Styling for non-widescren (not phones)
    480px < width > 768px */
@media screen and (min-width: 480px) {

    /* temp color changes to make a clear
        differences between devices */
    body {
        background-color:#6aa6cc;
        color:blue; 
        word-break: keep-all;
    }
    /*  ==================================================
            Styling for login page with normal ipad
        ==================================================
    */
    /* Centers the login form */
    #logg_inn_form {
        margin: 0 20% 0 20%;
    }

    /* pushes logg inn button to the right center */
    #logg_inn {
        margin: 5px 13% 0 0;
    }
    /*  =================================================
            Styling for pages post login with normal ipad
        =================================================
    */
    nav ul {
        width: 90%;
    }

    /* some h2 are elements are used as title for a
        minor block/boxdisplay. */
    .title {
        font-size: 2em;
        color: yellowgreen;
        display: block;
        float: left;
        margin: 10px 220px;
    }

    .boxdisplay {
        padding: 20px 10px;
        margin: 20px 40px;
        width: 85%;
    }

    .left, .right {
        float: none;
    }

    #tekstBlock, #kostnadskontoBlock, #bruttobeloopBlock, #mvaBlock, #nettobeloopBlock {
        padding: 0;
        margin: 0 20px 0 0;
        width: 90%;
        display: inline-block;
        position: relative;
    }

    #kostnadskontoBlock, #mvaBlock {
        margin-left: 15px;
    }

    .img_class {
        margin: 0;
    }

    .imagebox {
        margin: 0 10%
    }

    input[type="submit"].buttons {
        display: inline-block;
        margin: 0 8% 0 0;
    }

    #mvaBlock {
        padding: 6px 0;
        margin: 0 20px 0 0;
    }

    h2 {
        width: 20%;
    }

    #kostnadskontoBlock {
        margin: 0 20px 0 0;
    }

    /* Styling for widescreens, ie. width > 768px */
    @media screen and (min-width: 769px) {

        body {
            background-color:rgb(74, 167, 45);
            color:red;    
        }

        nav ul {
            width: 85%;
        }

        .wrapper {
            min-height: 94%;
            margin: 0 auto;
            padding: 20px 40px; 
            width: 80%;
            background: #ffffff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }

        .boxdisplay {
            width: 55%;
        }

        .imagebox {
            float: right;
            width: 100%;
        }
    }
}
/*
#kostnadskontoBlock, #mvaBlock {
    transform:translateY(2px)
}
*/